/* В файле стилей */
:host {
  display: block;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  * {
    max-width: 100% !important; /* Запрещает элементам быть шире экрана */
    box-sizing: border-box !important;
  }
}
