.language-switcher{

  position:relative;

  display:inline-block;

}

.lang-button {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 14px;

  border: 1px solid #e5e7eb;
  border-radius: 10px;

  background: white;

  cursor: pointer;

  font-size: 14px;
  font-weight: 600;

  transition: .2s;
}

.lang-button:hover {
  background: #f8fafc;
}

.arrow {
  transition: .25s;
}

.arrow.open {
  transform: rotate(180deg);
}

.lang-button:hover{

  background:#eef2ff;

}

.lang-menu{

  position:absolute;

  right:0;

  top:52px;

  width:180px;

  background:white;

  border-radius:14px;

  box-shadow:0 10px 35px rgba(0,0,0,.15);

  overflow:hidden;

  animation:drop .25s ease;

  z-index:999;

}

.lang-menu button{

  width:100%;

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:14px 18px;

  border:none;

  background:white;

  cursor:pointer;

  font-size:15px;

}

.lang-menu button:hover{

  background:#eef2ff;

}

.lang-menu button.active{

  color:#4f46e5;

  font-weight:600;

}

@keyframes drop{

  from{

    opacity:0;

    transform:translateY(-10px);

  }

  to{

    opacity:1;

    transform:translateY(0);

  }

}
