<div class="quiz-container">
  <!-- Добавляем переключатель языков -->
  <div class="quiz-card" *ngIf="!quizCompleted && currentQuestion; else resultsBlock">
    <div class="quiz-header">
      <app-language-switcher mode="inline"></app-language-switcher>
      <span class="quiz-progress-text">
          {{ 'QUIZ_QUESTION_PROGRESS' | translate }} {{ currentQuestionIndex + 1 }} / {{ questions.length }}
      </span>
      <span class="quiz-timer">⏱ {{ 'QUIZ_TEST_TITLE' | translate }}</span>
    </div>

    <h2 class="quiz-question">{{ currentQuestion.questionText }}</h2>

    <div class="options-list">
      <button
        *ngFor="let option of currentQuestion.answers; let i = index"
        class="option-button"
        [class.selected]="selectedOptionId === option.id"
        (click)='selectOption(option.id)'
      >
        <span class="option-marker">{{ ['A', 'B', 'C', 'D'][i] }}</span>
        <span class="option-text">{{ option.answerText }}</span>
      </button>
    </div>

    <div class="quiz-footer">
      <button
        class="btn-next"
        [disabled]="selectedOptionId === null"
        (click)="nextQuestion()"
      >
        {{ (currentQuestionIndex === questions.length - 1 ? 'BTN_FINISH' : 'BTN_NEXT') | translate }}
      </button>
    </div>
  </div>

  <ng-template #resultsBlock>
    <div class="quiz-card results-card">
      @if (quizResult?.completed) {
        <div class="success-icon">🎉</div>
        <h2 class="results-title">{{ 'RESULTS_SUCCESS_TITLE' | translate }}</h2>
        <p class="results-subtitle">{{ 'RESULTS_SUCCESS_SUBTITLE' | translate }}</p>
      } @else {
        <div class="success-icon" style="filter: grayscale(100%);">❌</div>
        <h2 class="results-title" style="color: #ef4444;">{{ 'RESULTS_FAIL_TITLE' | translate }}</h2>
        <p class="results-subtitle">{{ 'RESULTS_FAIL_SUBTITLE' | translate }}</p>
      }

      <div class="results-score-box">
        <span class="score-label">{{ 'RESULTS_YOUR_SCORE' | translate }}:</span>
        <div class="results-score" [style.color]="quizResult?.completed ? '#10b981' : '#ef4444'">
          {{ quizResult?.lastScore }}<span class="score-total">%</span>
        </div>
        <small style="color: #9ca3af; font-size: 11px; display: block; margin-top: 5px;">
          {{ 'RESULTS_ATTEMPTS' | translate }}: {{ quizResult?.attemptsCount }}
        </small>
      </div>

      <div class="results-actions">
        <button class="btn-dashboard" (click)="goToDashboard()">{{ 'BTN_DASHBOARD' | translate }}</button>
        <button class="btn-restart-quiz" [disabled]="quizResult?.completed"
                (click)="restartQuiz()">{{ 'BTN_RESTART' | translate }}
        </button>
      </div>
    </div>
  </ng-template>
</div>
